body {
  background: #5b5f70;
}

p {color: white;

}

h1 {
/*how to change fonts*/
  color: white;
  font-weight: normal;
  font-style: bold;
  font-size: 72px;
}

h2 {color: #a0cac0;
    text-decoration: underline;
}

h3 {color: #a0cac0;

}

a{
  color: #DDF4E7;

}

a:hover {
  color: red;
}

#about{
  color: white;
  font-size: 30px;
  font-weight: normal;
}

#online{
  color: white;
  font-size: 30px;
  font-weight: normal;
}


#contact{
  color: white;
  font-size: 30px;
  font-weight: normal;
}

.awesome {
  text-weight: bold;
  text-transform: uppercase;
}
